@using System.Web.Configuration;

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qWeather</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="~/favicon.png" />
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/chartjs")
    @Scripts.Render("~/bundles/viewmodel")

    @RenderSection("scripts", required: true)

    <div class="container ">
        @RenderBody()
    </div>

    <script>
        function sendAjaxRequest(httpMethod, callback, url, reqData) {

        var pathtoapi = "@WebConfigurationManager.AppSettings["pathtoapi"]";

        $.ajax(pathtoapi + (url ? "/" + url : ""), {
            type: httpMethod,
            success: callback,
            data: JSON.stringify(reqData),
            accepts: "application/json",
            contentType: "application/json"

        });
    }
    </script>
</body>
</html>
