@using System.Web.Configuration;

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qWeather</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="~/favicon.png" />
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/chartjs")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/viewmodel")

    <script src="@Url.Content("~/signalr/hubs")"></script>

    @RenderSection("scripts", required: false)

    <div class="container ">
        @RenderBody()
    </div>

    <script>

        var pathtoapi = "@WebConfigurationManager.AppSettings["pathtoapi"]";

        function sendAjaxRequest(httpMethod, callback, url, reqData) {
            $.ajax(pathtoapi + (url ? "/" + url : ""), {
                type: httpMethod,
                success: callback,
                data: JSON.stringify(reqData),
                accepts: "application/json",
                contentType: "application/json"
            });
        }

        var notifications = $.connection.weathersHub;

        notifications.client.updateMessages = function () {
            getAllMessages();
        }

        //$.connection.hub.logging = true;

        //$.connection.hub.start({ transport: 'longPolling' }).done(function () {
        //    getAllMessages();
        //}).fail(function (e) {
        //    //alert(e);
        //    //TODO: Error: No transport could be initialized successfully. Try specifying a different transport or none at all for auto initialization.
        //});


        function getAllMessages() {
            $.ajax({
                url: pathtoapi + "/getmessages",
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    var value = document.getElementById("dateRange").value;
                    LoadByDateRange(value);
                }
            });
        }
    </script>
</body>
</html>
